* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: white
    
}


h2{
    font-size: 2em;
}

h3{
    font-size: 1,55em ;
    margin-top: 5px;
}

p,li{
font-size: 1,3em;
margin: 2px;
}


body {
    background-image: url("55b6ca47-6a71-4508-9f89-a7d8bcc871a2.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}



.circle {
    background-color: #000000;
    border-radius: 50%;
    background-image: url('https://uploads.etersystem.es/uploads/0b18622ad756.png');
    padding: 20px;
    border: 3px solid white;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s;
}

.image:hover img {
    transform: scale(1.1);
}

.name, .number, .follow {
    font-weight: bold;
}

.idd, .idd1 {
    text-align: center;
    font-weight: 600;
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px;
}

.text span {
    color: #545454;
    font-weight: 500;
}

.icons i {
    margin-right: 10px;
}

.join {
    color: #a0a0a0;
    font-weight: bold;
}

.date {
    background-color: #ccc;
}

.btn {
    width: 100%;
    background-color: white;
}

.text {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.struct > div, .btn {
    border-radius: 50px !important;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

.section {
    flex: 0 0 100vw;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}



.button-container {
    position: fixed;
    top: 50%;
    left: 5%; /* Ajusta según sea necesario */
    transform: translateY(-50%); /* Centra verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    width: 15px; /* Ajusta según el diseño */
    height: 120px; /* Ajusta según el diseño */
    background: #1f1f1f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.indicator {
    width: 10px;
    height: 10px;
    background: #cccccc;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s;
}


.nav-button[data-position="0"] .indicator {
    transform: translateY(-40px);
}

.nav-button[data-position="1"] .indicator {
    transform: translateY(0);
}

.nav-button[data-position="2"] .indicator {
    transform: translateY(40px);
}


.menu-item {
    background: rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(250, 250, 250, 0.15);
    margin: 8px;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(183, 182, 182, 0.1);
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

#afrutados-citricos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#dulces-mentolados {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}



/* Grid principal para el menú de batidos */
#batidos {
    display: grid;
    grid-template-columns: 30% 70%; /* 30% para la lista y 70% para las imágenes */
    gap: 20px; /* Espacio entre los elementos del grid */
}

/* Estilo para la lista de batidos */
#batidos .menu-list {
    /* Asegúrate de que el contenido de la lista ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
}

#batidos .menu-list ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margin por defecto */
}

/* Estilo para los elementos de la lista de batidos */
#batidos .menu-list li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

/* Grid anidado para las imágenes */
#batidos .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las imágenes */
}

/* Estilo para cada imagen dentro de la grid de imágenes */
#batidos .image-grid img {
    width: 100%;
    height: auto;
    display: block;
}

/* Grid principal para el menú de mojitos */
#mojitos {
    display: grid;
    grid-template-columns: 70% 30%; 
    gap: 20px; /* Espacio entre los elementos del grid */
}

/* Estilo para el contenedor de imágenes de mojitos */
#mojitos .mojitos-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las imágenes */
}

/* Estilo para cada imagen dentro de la grid de imágenes */
#mojitos .mojitos-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para el contenedor de la lista de mojitos */
#mojitos .mojitos-list {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
}

/* Estilo para el título de la lista de mojitos */
#mojitos .mojitos-list h3 {
    margin: 0 0 10px 0; /* Margin inferior para el título */
    
}

/* Estilo para los elementos de la lista de mojitos */
#mojitos .mojitos-list p {
    margin: 0; /* Elimina el margin por defecto */
    padding: 5px 0; /* Espacio superior e inferior para los elementos */
}

.drinks-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.drinks-grid .menu-item h3 {
    margin-top: 0;
    
    color: #ffffff;
}
.drinks-grid .menu-item p {
    margin: 5px 0;
    color: #ffffff;
}

.image-grid {
    display: grid;
    grid-template-columns: (1, 1fr);
    
    gap: 10px;
}

.comida-item {
    text-align: center;
}
.comida-item img {
    width: 100%;
    height: auto;
}

.menu-item ul {
    list-style: none;
    padding: 0;
}

.menu-item ul li {
    margin: 5px 0;
}