/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

.menu-navigation {
    text-align: center;
    margin: 20px 0;
}

.nav-btn {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #f8b400;
    color: #fff;
    border-radius: 5px;
}

.menu-items-wrapper {
    overflow: hidden;
    position: relative;
}

.menu-items {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.menu-item {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.menu-item h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.sabores h4,
.menu-item ul {
    margin: 15px 0;
}

.menu-item ul {
    list-style-type: none;
    padding: 0;
}

.menu-item ul li {
    padding: 5px 0;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.menu-item ul img {
    max-width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Specific Styles */
.mentas-list li,
.dulces-list li,
.afrutadas-list li,
.citricas-list li,
.refrescos-list li,
.batidos-list li,
.copas-list li,
.mojitos-list li,
.cerveza-list li,
.comida-list li {
    padding-left: 20px;
    position: relative;
}

.mentas-list li::before,
.dulces-list li::before,
.afrutadas-list li::before,
.citricas-list li::before,
.refrescos-list li::before,
.batidos-list li::before,
.copas-list li::before,
.mojitos-list li::before,
.cerveza-list li::before,
.comida-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #f8b400;
    font-weight: bold;
}

/* Additional Styles */
.sabores h4 {
    color: #333;
    font-size: 1.5em;
    border-bottom: 2px solid #f8b400;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
